body {
  font-family: "Roboto", sans-serif;
}

/* nav */

nav {
  padding: 0.7rem 0;
  border-bottom: 1px solid #191919;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #ffc017;
  transition-property: background-color;
  transition-duration: 0.7s;
}
nav img {
  padding-left: 10%;
}

nav div {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 1rem;
}

nav li {
  padding: 0 1rem;
}

nav li a {
  text-decoration: none;
  color: #191919;
}

nav button {
  background-color: #191919;
  border-radius: 30px;
  color: white;
  padding: 0.6rem;
  border: none;
  transition-property: background-color;
  transition-duration: 0.7s;
}

.white {
  background-color: white;
}
.green {
  background-color: #1a8917;
}

/* header */

header {
  background-color: #ffc017;
  margin-top: 4rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #191919;
  padding: 5rem 0;
}

.title {
  padding: 1rem 0;
  padding-left: 17%;
  display: flex;
  flex-direction: column;
}

#header h1 {
  font-family: "Spectral", serif;
  font-size: 7rem;
  font-weight: 500;
}

#header p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  padding: 1.5rem 0 2rem 0;
  width: 65%;
}
#header button {
  width: 30%;
  font-size: 1.1rem;
  border: none;
  box-sizing: border-box;
  padding-block: 0.7rem;
  border-radius: 40px;
  color: white;
  background-color: #191919;
  font-weight: bold;
}

#MMM {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
}

/* main */

main {
  z-index: 2;
  position: relative;
}

#articoliSopra,
#secondoPezzo {
  width: 65%;
  margin: auto;
}

section {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #f2f2f2;
}
section h2 {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #191919;
  font-weight: bolder;
  padding-bottom: 1rem;
  font-size: 0.7rem;
}
section h2 img {
  margin-right: 0.5rem;
}

#sezione {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 33%;
}

article {
  display: flex;
  width: 32%;
  margin: 1rem 0;
}

.numero {
  color: #f2f2f2;
  padding-right: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.autore {
  display: flex;
  align-items: center;
  padding-bottom: 0.8rem;
}

.autore img {
  border-radius: 100%;
  height: 1.7rem;
  margin-right: 0.5rem;
}

.autore span {
  font-size: 0.8rem;
  font-weight: 700;
}

article a {
  text-decoration: none;
  color: #191919;
  font-size: large;
}

article p {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 800;
}
article p img {
  margin-left: 0.3rem;
  width: 1.2rem;
}

.data {
  color: #757575;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}

/* articoli finali */

#secondoPezzo {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.articolo {
  display: flex;
  margin-bottom: 3rem;
}

.testoArticolo {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-right: 2rem;
}

h3 {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
}

h3 img {
  width: 1.7rem;
  margin-right: 0.5rem;
  border-radius: 100%;
}

h4 {
  margin-top: 0.3rem;
  font-weight: 800;
  font-size: 1.2rem;
}

.testoArticolo p {
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
  color: #89898a;
}

.parteSotto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.parteSotto div {
  display: flex;
}
.parteSotto div img {
  margin-left: 1rem;
}

.testoArticolo button {
  background-color: #c6c6c67c;
  transition: background-color 0.2s ease-in-out;
  border-radius: 20px;
  padding: 0.3rem 0.7rem;
  border: none;
  color: #89898a;
  font-size: 0.9rem;
}

.testoArticolo button:hover {
  background-color: #ffc017;
}

.immagineArticolo img {
  height: 9.5rem;
  width: auto;
}

/* parte destra */

#latoDestro {
  margin-left: 3rem;
  width: 60%;
}

.allAside {
  width: 100%;
  position: sticky;
  top: 5.5rem;
}

.allAside p {
  color: #191919;
  font-size: 0.9rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.allAside button {
  color: #757575;
  background-color: white;
  border: 2px solid #ebecec;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  margin-left: 0;
}

#finale {
  border-top: 1px solid #ebecec;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
  width: 90%;
}

#finale a {
  text-decoration: none;
  color: #757575;
  font-size: 0.9rem;
}

#finale div {
  margin-right: 1.3rem;
}

.magia {
  transition: 250ms ease-in;
  opacity: 1;
}

.quadrato img {
  border-radius: 4px;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .title {
    padding: 1rem 0;
    padding-left: 2.5rem;
  }
  #MMM {
    width: 80%;
    right: -150px;
  }

  nav li {
    padding: 0 0.4rem;
  }

  nav button {
    font-size: 0.8rem;
  }

  #header button {
    width: 35%;
  }

  #header h1 {
    font-size: 4rem;
  }

  #header p {
    font-size: 1.3rem;
    font-weight: 300;
    width: 60%;
  }

  #header {
    padding-bottom: 3rem;
  }

  section {
    padding: 1rem;
  }

  #sezione {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    column-gap: 0.2rem;
  }

  article {
    display: flex;
    flex-direction: row;
    width: 48%;
  }

  .stellina {
    display: none;
  }

  #secondoPezzo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  #articoliSopra,
  #secondoPezzo {
    width: 95%;
    margin: auto;
  }

  #latoDestro {
    margin: 0;
    margin-top: 1rem;
    width: 95%;
    margin-bottom: 2rem;
  }
  .quadrato img {
    border-radius: 100%;
  }

  #finale {
    row-gap: 0;
    font-size: 15px;
    width: 100%;
    margin-top: 1rem;
  }

  .articolo {
    width: 95%;
    padding: 0;
    margin: auto;
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  nav li {
    display: none;
  }

  nav {
    font-size: 0.8rem;
    padding-right: 1rem;
    z-index: 10;
  }

  nav button {
    font-size: 0.7rem;
    padding: 0.7rem;
  }

  #header button {
    width: 50%;
    padding: 0.2rem;
  }

  nav li:last-child {
    display: unset;
  }

  #header {
    padding-top: 0;
  }

  #MMM {
    display: none;
  }

  #header h1 {
    font-size: 4rem;
    padding-top: 2rem;
  }

  #header p {
    font-size: 1.1rem;
    font-weight: 300;
  }

  #header {
    padding-bottom: 3rem;
  }

  .title {
    padding-left: 2rem;
  }

  nav img {
    padding: 0;
    width: 70%;
  }

  #articoliSopra {
    width: 95%;
    margin: auto;
  }

  article {
    width: 100%;
  }

  article a p {
    width: 100%;
  }

  .stellina {
    display: none;
  }

  #secondoPezzo {
    width: 90%;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  #latoDestro {
    width: 95%;
    margin: auto;
    position: static;
    margin-top: 3rem;
  }

  #finale {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .immagineArticolo img {
    height: 7rem;
    width: auto;
  }

  h3 {
    font-size: 0.7rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  #centro p {
    font-size: 0.6rem;
  }

  .testoArticolo {
    margin-right: 0.5rem;
  }

  .parteSotto {
    font-size: 0.6rem;
  }

  .parteSotto button {
    font-size: 0.6rem;
  }

  .articolo {
    margin-bottom: 2rem;
  }

  .allAside button {
    padding: 0.5rem 0.3rem;
  }

  .allAside p {
    font-size: 0.7rem;
  }
}
